
<div class="container">
			<div class="row">
				<main class="col-md-12">
					<!-- Professional greeting -->
					<h1>Welcome to the About page</h1>
						<p>This page provides information about myself and my background.</p>

					<!-- Section header for personal information -->
					<h2>Personal Information</h2>
					<!-- Short paragraph about yourself -->
					<p> My name is Aakash Harendrakumar Patel and my StudentID is 147805238, and I am currently pursuing Business Information Technology Course in Seneca Polytechnic.
						I have completed by Bachelors in Information Technology in 2018 and I have more than 5 years of experience working in an IT Field.
					</p>
				</main>
			</div>
</div>
