<div class="container">
    <div class="row">
        <main class="col-md-12">

            <!-- Start your code here -->
            <form method="POST" action="/courses/add">
                <fieldset>
                    <legend>Add New Course</legend>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="courseCode">Course Code:</label>
                                <input class="form-control" id="courseCode" name="courseCode" type="text" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="courseDescription">Course Description:</label>
                                <input class="form-control" id="courseDescription" name="courseDescription" type="text" />
                            </div>
                        </div>
                    </div>
                </fieldset>
                <hr />
                <input type="submit" class="btn btn-success float-right" value="Add Course" /><br /><br /><br />
            </form>

            <!-- End your code here -->

        </main>
    </div>
</div>
