<div class="row">
	<main class="col-md-12">

	<!-- Start your code here -->
	<div class="mt-3">
		<h1>Welcome to my First website for WEB700!</h1>
		<p>I learned HTML5 principles and techniques, how to create server using Express and also how to handle routing.</p>
	</div>
				
	<hr>
		
	<div class="mt-3">
		<h2>About This Website</h2>
		<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including All Students, Students by Course, A Single Student By Student Number, All TAs, and All Courses.</p>
		<p>Below you can find the links to all the 8 pages:</p>
		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/htmlDemo">HTML Demo</a></li>
				<li><a href="/students">All Students</a></li>
				<li><a href="/students?course=4">Students by Course for Course 4</a></li>
				<li><a href="/student/7">A Single Student By Student Number(7)</a></li>
				<li><a href="/tas">All TAs</a></li>
				<li><a href="/courses">All Courses</a></li>
		</ul>
	</div>
				
	<hr>
				
	<div class="mt-3">
		<h2>Introduction to HTML5</h2>
		<p>HTML5 is the fifth and current version of HTML. It has improved the markup available for documents and has introduced application programming interfaces (API) and Document Object Model (DOM).</p>
			
		<h3>Features:</h3>
		<ul>
				<li>New multimedia features including audio and video controls with <code>&lt;audio&gt;</code> and <code>&lt;video&gt;</code> tags.</li>
				<li>New graphics elements like vector graphics and canvas tags.</li>
				<li>Drag and Drop API allows users to drag objects across the web page.</li>
				<li>Geolocation API enables websites to retrieve the geographical location of a client.</li>
				<li>Web Storage provides methods to store data on the client-side, enhancing offline capabilities.</li>
				<li>Support for SQL databases to store data offline.</li>
				<li>Supports drawing various shapes such as triangles, rectangles, and circles using the canvas tag.</li>
		</ul>
	</div>
				
	<!-- End your code here -->
				
	</main>
				
</div>
