<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<!-- Custom CSS link reference -->
		<link href="/css/theme.css" rel="stylesheet">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Aakash Harendrakumar Patel</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<!-- Start your code here -->
					<div class="mt-3">
						<h1>Welcome to my First website for WEB700!</h1>
						<p>I learned HTML5 principles and techniques, how to create server using Express and also how to handle routing.</p>
					</div>
				
					<hr>
				
					<div class="mt-3">
						<h2>About This Website</h2>
						<p>This site consists of 3 static views (Home, About, HTML Demo) as well as 5 routes that supply data, including All Students, Students by Course, A Single Student By Student Number, All TAs, and All Courses.</p>
						<p>Below you can find the links to all the 8 pages:</p>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="/htmlDemo">HTML Demo</a></li>
							<li><a href="/students">All Students</a></li>
							<li><a href="/students?course=4">Students by Course for Course 4</a></li>
							<li><a href="/student/7">A Single Student By Student Number(7)</a></li>
							<li><a href="/tas">All TAs</a></li>
							<li><a href="/courses">All Courses</a></li>
						</ul>
					</div>
				
					<hr>
				
					<div class="mt-3">
						<h2>Introduction to HTML5</h2>
						<p>HTML5 is the fifth and current version of HTML. It has improved the markup available for documents and has introduced application programming interfaces (API) and Document Object Model (DOM).</p>
				
						<h3>Features:</h3>
						<ul>
							<li>New multimedia features including audio and video controls with <code>&lt;audio&gt;</code> and <code>&lt;video&gt;</code> tags.</li>
							<li>New graphics elements like vector graphics and canvas tags.</li>
							<li>Drag and Drop API allows users to drag objects across the web page.</li>
							<li>Geolocation API enables websites to retrieve the geographical location of a client.</li>
							<li>Web Storage provides methods to store data on the client-side, enhancing offline capabilities.</li>
							<li>Support for SQL databases to store data offline.</li>
							<li>Supports drawing various shapes such as triangles, rectangles, and circles using the canvas tag.</li>
						</ul>
					</div>
				
					<!-- End your code here -->
				
				</main>
				
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>